@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@500&family=Roboto&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #05203c;
    display: grid;
    gap: 30px;
    justify-content: center;;
    grid-template-rows: 1fr 3fr 1 fr;
}
header {
    max-width: 1100px;
    grid-row: 1/ span 1;
    background-color: #05203c;
    color: white;
    border: 2x solid black;
    display: grid;
    grid-template-rows: 80px 50px 80px 50px;
    
}
 .header_main .firstLine {
    grid-row: 1/ span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
}
.logo>a,
.login>a {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    margin: 0 10px;
    text-decoration: none;
    color: white
}
.material-icons {
    height: 0.2em;
    color: white;
}
.logo_skyscanner {
    padding-top: 2px;
    font-size: 1.2rem;
}
.login_text {
    font-size: 0.7rem;
    padding-top: 6px;
}
.selections {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    font-weight: bold;
    justify-content: center;
}
.material-icons:hover,
.login:hover {
    background-color: rgba(163, 160, 160, 0.5);
    height: 110%;
    width: 110%;
    border-radius: 5px;

}

.title {
    font-size: 0.8rem;
    margin: 20px;
}
.selections {
    font-size: 0.5rem;
    color: rgb(83, 83, 83);
    margin: 20px;
    justify-content: flex-start;
    border-radius: 8px 0 0 8px;
    
}

.selection_box.persons,
.selection_box {
    display: inline-block;
    background-color: white;
    padding: 10px 8px 8px 8px;
    margin: 2px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.selection_box.from {
    border-radius: 5px 0 0 5px ;
}
.selection_box.persons {
    border-radius: 0 5px 5px 0;
    padding: 9px;
    height: 40px;
    align-items: center;
    justify-content: left;
}
.selection.search>a {
    background-color: #116bcb;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    margin: 0 10px;
    justify-content: center;
}
.selection.search>a:hover {
    background-color: #124d8b;
    font-size: 12px;
    padding: 19px;
}
.direct_flights {
    margin: 0 20px;
    font-size: 0.7rem;
}
 body main {
    max-width: 100px;
}
main {
    max-width: 1100px;
    display: grid;
    grid-template-rows: 80px 1fr 600px;
    margin: 30px auto;
    row-gap: 30px;
    justify-content: center; 
}
.grid .search {
    max-width: 1000px;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
    height: 60px;
    grid-template-rows: repeat(4, 1fr);
}
.grid .search>a {
    display: flex;
    align-items: center;
    height: 60px;
}
.secondLine>a {
    margin: 10px;
    border-radius: 8px;
    background-color:#05203c;
    align-items: stretch;
    flex-shrink: 1;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 40px;
}
.secondLine .icon {
    align-self: center;
}
.secondLine .search_items{
    display: flex;
    text-decoration: none;
    padding: 8px 100px 10px 10px ;
    font-size: 0.75rem;
    align-self: center;
    justify-content: start;
}
.be_inspired img {
    grid-row: 2 / span 1;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    cursor: pointer;
}
.popular {
    grid-row: 3 / span 1;
    font-size: 1.1rem;
    padding: 10px;
}
.popular_boxes {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 30px;
    margin: 20px auto;
}
.popular_boxes .destinations {
    background-color: rgb(240, 244, 246);
    box-shadow: 0 5px 5px 0;
    grid-area: "amsterdam london dublin"
                "barcelona paris berlin"
                "belfast ibiza palma";
    height: 60px;
    border-radius: 8px;
}
.destinations.paris, 
.destinations.amsterdam,
.destinations.london,
.destinations.dublin,
.destinations.barcelona,
.destinations.berlin,
.destinations.belfast,
.destinations.ibiza,
.destinations.palma {
    display:flex;
    justify-content: flex-start;
    align-self: center;
    height: 60px;
    border-radius: 8px;
    margin: 0;
    cursor: pointer;
}
.destinations>img {
    border-radius: 8px 0 0 8px;
    width: 60px;
    height: 100%;
}
.destinations>span {
    align-self: center;
    padding: 5px;
}
h3 {
    grid-row: 4 / span 1;
    font-size: 1.6rem;
    padding: 10px 0;
}
h4>a {
    grid-row: 5 / span 1;
    text-decoration: none;
    font-size: 1.4rem;
    color: #05203c; 
}
h4, h3 {
    margin: 10px 0;
    padding: 10px 0;
}

footer {
    display: block;
    background-color: #05203c;
    height: 200px;
} 
@media (max-width: 730px) {
    .logo {
    justify-content: center;
    margin: 12%;
    }
    .container {
        height: 450px;
    }
    .selections {
        margin-right: 15%;
    }
    h1 {
        margin-left: 15%;
        margin-bottom: 30px;
    }
    .bis{
        flex-wrap: wrap;
        margin: 20px;
        gap: 30px;
    }
   main.grid {
    margin-top: 10px;
   }
    .grid .search {
        width: 100vw;
        margin: 20%;
   }
   .popular_boxes {
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
   }
}